name: tag_body
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: keroxp/actions-github-ref@v1.0.0
      - uses: loilo-inc/actions-release@v0.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.GIT_TAG }}
          release_name: ${{ env.GIT_TAG }}
          draft: false
          prerelease: false